<div class="card probarestilo">
    <div class="card-header">
        <h2 class="probarestilo">Emulated</h2>
        <div class="emulated-message">Emulated encapsulation</div>
    </div>
    <div class="card-body">
        <div class="row"> 
            <div class="col-6">
             Permite emular los comportamientos del ShadowDom para que los estilos de un componente solo afecten a dicho componente
               <p>los estilos globales afectan al componente</p> 
            </div>
            <div class="col-6">
                Los estilos de los componentes se agregan al "head" del documento, haciéndolos disponibles en toda la
                aplicación, pero sus selectores solo afectan a los elementos dentro de las plantillas de sus respectivos
                componentes.

            </div>
            <div class="col-12">
                <app-no-encapsulation></app-no-encapsulation>
            </div>

        </div>
    </div>
    <div class="form-group card-footer text-muted text-center">

        
    </div>
</div>