<div class="card">
    <div class="card-header">
        <h5 class="card-title">Here's a zippy</h5>
    </div>
    <div class="card-body">
        <app-hijo-co>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary" type="button" appExampleZippyToggle>
                        Is content project cool?
                    </button>
                </div>
                <ng-template appExampleZippyContent>
                    <div class="col-12">
                        It depends on what you do with it.
                    </div>
                </ng-template>
            </div>
        </app-hijo-co>
    </div>
</div>