<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="index.html"><span>Com</span>pany</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    <app-navbar></app-navbar>
    <app-redes></app-redes>
  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <app-carrusel></app-carrusel>
</section><!-- End Hero -->

<main id="main">

  <app-about></app-about>
  <app-services></app-services>
  <app-portfolio></app-portfolio>
  <app-clients></app-clients>
</main><!-- End #main -->
<app-footer></app-footer>
