<app-layout>
    <div breadcrumbs>
        <h2 tituloxx>ngOnInit</h2>
        <ol>
            <li>
                <a routerLink="/homexxxx">Home</a>
            </li>
            <li>
                Curso Angular
            </li>
            <li>Componentes</li>
            <li>
                Lifecycle Components
            </li>
            <li>
                ngOnInit
            </li>
        </ol>
    </div>
    <div class="card">
        <div class="card-body">
            {{saludo}}
        </div>
    </div>
</app-layout>