<app-layout>
    <div breadcrumbs>
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>ngOnInit</h2>
                <ol>
                    <li>
                        <a routerLink="/homexxxx">Home</a>
                    </li>
                    <li>
                        Curso Angular
                    </li>
                    <li>
                        Lifecycle Components
                    </li>
                    <li>
                        ngOnInit
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            {{saludo}}
        </div>
    </div>
</app-layout>