<div class="row">
    <div class="col-6">
        <p>Save for later item: {{input1}}</p>
        <button class="btn btn-primary" type="button" (click)="saveIt()"> Save for later</button>
    </div>

    <div class="col-6">
        <p>Item for wishlist: {{input2}}</p>
        <button class="btn btn-primary" type="button" (click)="wishForIt()"> Add to wishlist</button>
    </div>
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->