

<div class="card">
    <div class="card-header">
        <h2>None</h2>
        <div class="none-message">No encapsulation</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
               No se utiliza encapsulamiento, lo que se coloca en el css del componente ir&sacute; hacia los estilos globales de manera autom&aacute;tica
            </div>
            <div class="col-6">
                Los estilos de los componentes se agregan al "head" del documento, haciéndolos disponibles en toda la aplicación, por lo que son completamente globales y afectan cualquier elemento coincidente dentro del documento.
            </div>
        </div>
    </div>
    <div class="form-group card-footer text-muted text-center">
        
    </div>
</div>